
<form [formGroup]="form" class="p-[30px] flex flex-col justify-center items-center min-w-full h-[500px] global-bckg rounded-[20px] shadow-2xl">
  <h2 class="text-4xl text-center text-white">Welcome to blog, please sign in...</h2>
  <div class="min-h-[60px]"></div>
  <p-floatlabel class="w-5/6 max-w-sm" variant="in">
    <input formControlName="username" pInputText pSize="small" id="{{labelIds[0]}}" class="w-full" autocomplete="off" />
    <label for="{{labelIds[0]}}">Username/Email</label>
  </p-floatlabel>
  <div class="min-h-[14px]"></div>
  <p-floatlabel class="w-5/6 max-w-sm" variant="in">
    <input formControlName="password" type="password" pInputText pSize="small" id="{{labelIds[1]}}" class="w-full" autocomplete="off" />
    <label for="{{labelIds[1]}}">Password</label>
  </p-floatlabel>
  <div class="min-h-[14px]"></div>
  <p-button label="Sign In"
            (submit)="$event.stopPropagation();onSubmit();"
            (click)="onSubmit();"
            severity="contrast"
            size="large"
            type="submit"
            class="bg-white rounded-[6px]"
            variant="outlined" />
</form>
