/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

:root {
  --color-background-gray: #{#eeeeee};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.global-bckg-gray {
  background-color: var(--color-background-gray);
}
