/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

:root {
  --color-background-one: #{rgba(77,122,100,0.6)};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.global-bckg {
  background-color: var(--color-background-one);
}
